<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1 style="color:red">
        Hola
    </h1>
    {% comment %} <a href="{% url 'products.views.new_product' %}">New products</a> {% endcomment %}
    <ul>
        {% for pr in product %}
            <li>
                {% comment %} <a href="{% url 'products.views.product_detail' pk=pr.pk %}">
                    {{ pr.name }} | 
                </a> {% endcomment %}
                {{ pr.name }}
                {{ pr.description }}
                <img src="{{ pr.image.url }}" alt="">
            </li>
        {% endfor %}
    </ul>
</body>
</html>